<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>

        {{ partial "nav.html" . }}
        <h3 class="text-center my-5 pt-5">{{.Title}}</h3>
        
        {{ $paginator := .Paginate ( .Pages) 6  }}
        <div class="container">
                <div class="row">
                {{ range $paginator.Pages }}
                    <div class="col-md-4 mb-4 d-md-flex">
                        <div class="card ">
                            <a href="{{ .RelPermalink }}">
                                <img class='card-img-top rounded' 
                                    src='/img/default.svg'
                                    alt='{{ .Title }}'>
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="text-dark" href="{{ .RelPermalink }}">{{ .Title }}</a>
                                </h5>
                            </div>
                        </div>

                    </div>
                    
                {{ end }}
                </div>
                <div class="container">
                    {{ partial "pagination.html" .}}
                </div>
        </div>
       
       

        {{ partial "footer.html" . }}
        {{ partial "js-init.html" . }}
    </body>
    <!-- untuk mengatur halaman tags -->
</html>

