<!-- <footer class="border border-bottom-0 bg-light border-left-0 border-right-0 " >
    <div class="container pt-3 pb-4 pt-md-5">
        <div class="row">
            <div class="col-md-3 text-dark ">
                <h3>Boks Fisika</h3>
                <div class="d-flex flex-colum">
                   
                    <div class="mt-3">
                        <a href="http://www.facebook.com/boksfisika" target="_blank" class="mr-2">
                        <img src="/img/icons/fb.svg" style="width: 30px;" alt="">
                        </a>
                        <a href="https://t.me/boksfisika" target="_blank" class="mr-2">
                        <img src="/img/icons/telegram.svg" style="width: 30px;" alt="">
                        </a>    
                        <a href="https://www.instagram.com/boksfisika" target="_blank" class="mr-2">
                        <img src="/img/icons/instagram.svg" style="width: 30px;" alt="">
                        </a>
                     </div>
                </div>
            </div>
            <div class="col-md-9 text-dark align-items-center mt-3">
                <a href="/about" class="mr-4 text-dark d-block d-sm-inline-flex my-2">About Us</a>
                <a href="/contact" class="mr-4 text-dark d-block d-sm-inline-flex my-2">Contact</a>
                <a href="/fisika" class="mr-4 text-dark d-block d-sm-inline-flex my-2">Fisika</a>
                <a href="/matematika" class="mr-4 text-dark d-block d-sm-inline-flex my-2">Matematika</a>
                <a href="/categories/metafisika" class="mr-4 text-dark d-block d-sm-inline-flex my-2">metafisika</a>
                <a href="/categories/teknologi" class="mr-4 text-dark d-block d-sm-inline-flex my-2">Teknologi</a>
            </div>

            <div class="col-12 text-center text-muted mt-3">
                copyright  &copy; {{ now.Format "2006"}} <a class="text-muted" href="{{.Site.BaseURL}}">{{ .Site.Title }}</a></a>
            </div>
        </div>
    </div>
</footer> -->
<!-- <div class="d-flex mb-2 mt-1">
    <span class="material-icons d-inline text-kuning  mr-1 icon-sm">email</span>
    <p class="mb-0  d-inline mr-4 font-sm "> <a class="text-white" href="mailto:boksfisika@gmail.com">boksfisika@gmail.com</a></p>
</div> -->