<div class="col-sm-12 my-3 d-flex-wraper pl-0">
    <h4 class="text-dark">Bagikan Artikel</h4>
    <div class="col-sm-9  d-flex pl-0 pt-2">
       <!-- Untuk Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{.Permalink}}" target="_blank" class="mr-2">
      <img src="/img/share/fb.svg" style="width: 30px;" alt="">
    </a>
    <!-- Untuk Google+ -->
    <a href="https://plus.google.com/share?url={{.Permalink}}" target="_blank" class="mr-2">
      <img src="/img/share/plus.svg" style="width: 30px;" alt="">
    </a>    
    <!-- Untuk Twitter -->
    <a href="https://twitter.com/share?url={{.Permalink}}&text=Simple%20Share%20Buttons&hashtags=simplesharebuttons" target="_blank" class="mr-2">
      <img src="/img/share/twiter.svg" style="width: 30px;" alt="">
    </a>
    <a class="whatsapp" href="whatsapp://send?text={{.Permalink}}" title="Share this post on Whatsapp" target="_blank" class="mr-2">
      <img src="/img/share/wa.svg" style="width: 30px;" alt="">
    </a>
    </div>
  </div>


  